.wrapper {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to avoid strange spacing issues */
}

.listContainer {
  width: 15rem;
  padding: 1rem;
  flex-shrink: 0; /* Prevent the list from shrinking */
}

.listItem {
  cursor: pointer;
  color: gray;
  padding: 0.5rem;
}

.activeItem {
  color: black;
  font-weight: bold;
}

.contentContainer {
  flex-grow: 1; /* Ensure the content takes up the remaining space */
  padding: 1rem;
  max-width: 60%; /* Optional, but can be removed to avoid unnecessary space */
  height: 50vh;
  overflow-y: scroll;
}
