.wrapper {
  padding: 20px;
}
.formRow {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.formItem {
  flex: 1;
}

.label {
  font-weight: bold; /* Make the label text bold */
  margin-bottom: 5px; /* Space between the label and select */
}

.selectContainer {
  position: relative;
}

.select {
  width: 100%;
  padding: 10px 15px;
  appearance: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
}

.caretIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  background-color: #17ABFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #1499e6;
}