.wrapper {
  width: 80%;
  max-height: 80%;
  border: none; /* Remove border */
  margin: 0.5rem;
  border-radius: 0.375rem;
  padding: 4%;
  overflow: visible; /* Remove overflow-y: scroll */
}

.buttonContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button {
  padding: 0.5rem;
  cursor: pointer;
  border: none; /* Remove button borders */
  background: none; /* Optional: remove any background styling */
}

.progressBar {
  width: 100%;
  height: 0.25rem;
  background-color: lightblue;
  border-radius: 0.375rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0.5rem;
}

.progressButton {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  border: none; /* Remove border from progress buttons */
}

.activeProgress {
  background-color: blue;
}

.inactiveProgress {
  background-color: lightblue;
}

.hr {
  margin: 1rem 0;
}