/* ConvenorBreadcumbs.module.css */
.ctr {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  font-size: 0.875rem; /* Equivalent to text-sm */
  margin-left: 5%;
}

.activeLink {
  color: #17ABFF;
  text-decoration: none; /* Ensure no underline for active links */
}

.inactiveLink {
  color: gray;
  text-decoration: none; /* Remove underline for inactive links */
}

.caret {
  display: flex;
  justify-content: center; /* Center the caret horizontally */
  align-items: center; /* Center the caret vertically */
  margin: 0 0.5rem; /* Adjust margin for spacing */
}
